# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# MacOS
.DS_Store

# VSCode
.vscode/

# Logs
logs/
*.log

# Postman
*.postman_environment.json

# PyCharm
.idea/
